@page
@model WebPageModel

<page title="Main page" />

<header class="page-header">
    <h1>@Model.Header</h1>
</header>

<section>
    <p><a href="" class="applink">empty</a></p>
    <p><a href="#test1">test1</a></p>
    <p><a href="#test2">test2</a></p>
    <p><a nav-url="/company">hotfound</a></p>
    <p><span data-nav-url="/company">company</span></p>
    <p><span nav-url="/company">company</span></p>
</section>

<section>
    @{
        var webSiteContext = HttpContext.GetWebsiteContext(); 
    }
    <p>WebSite Id: @webSiteContext.Website.Id</p>
    <p>WebSite Name: @webSiteContext.Website.Name</p>
    <p>WebSite Title: @webSiteContext.Website.Title</p>
</section>