@page
@model PaymentModel
@{ Model.RenderPage(this); }

<header class="page-header">
    <h1>@Model.Title</h1>
</header>

<section>
    <form method="get" asp-page="/about">
        <input type="text" name="test" required />
        <button type="submit">test</button>
    </form>
</section>