@page
@model PaymentModel
@{ await Model.RenderPageAsync(this); }

<header class="page-header">
    <h1>@Model.Title</h1>
</header>

<section>
    <form method="get" asp-page="/about">
        <input type="text" name="test" required />
        <button type="submit">test</button>
    </form>
</section>

<section>
    <a nav-url="@Url.Page(string.Empty, new { ReturnUrl = Url.Page("SignIn") })">set redirect</a>
    <form asp-antiforgery="true" asp-page-handler="Redirect">
        <button type="submit">Redirect</button>
    </form>
</section>