@page
@model ExampleWebSite.Pages.Examples.PageNavigation.IndexModel

<page title="Page handlers">
    <header class="page-header">
        <h1>@Model.Header</h1>
    </header>

    <section class="page-block page-block-examples-navigation">
        <h2>Common</h2>
        <ul>
            <li>
                <a asp-page="/About">Nav with asp-page</a>
            </li>
            <li>
                <a asp-page="/About" target="_blank">Nav in new tab</a>
            </li>
            <li>
                <a asp-page="/About" nav-replace>Nav with asp-page and replace</a>
            </li>
            <li>
                <a asp-page="/About" nav-ignore>Nav with asp-page and ignore</a>
            </li>
            <li>
                <a nav-url="#test">Nav with hash</a>
            </li>
            <li>
                <a nav-url="#test" nav-replace>Nav with hash and replace</a>
            </li>
            <li>
                <a href="#test">Nav with hash (no applink)</a>
            </li>
            <li>
                <a nav-url="/test/test">Page not found</a>
            </li>
            <li>
                <a asp-page="Redirect">Page redirect</a>
            </li>
            <li>
                <a asp-page="Redirect" asp-route-replace="true">Page redirect with replace</a>
            </li>
            <li>
                <a asp-page="Redirect" asp-route-reload="true">Page redirect with reload</a>
            </li>
            <li>
                <a asp-page="Error">Page exception</a>
            </li>
            <li>
                <a asp-page="Denied">Page access denied</a>
            </li>
            <li>
                <a asp-page="Long">Page long loading</a>
            </li>
            <li>
                <a asp-page="Index" asp-route-test="true">Nav in render</a>
            </li>
            <li>
                <a asp-page="Index" asp-route-error="true">Error in render</a>
            </li>
        </ul>
    </section>

    <section class="page-block page-block-examples-navigation">
        <h2>Navigation scope</h2>
        <ul>
            <li>
                <a nav-url="?test1=test1" nav-replace>noscope1</a>
                <a nav-url="?test1=test2" nav-replace>noscope2</a>
            </li>
            <li>
                <a nav-url="?test2=test1" nav-replace nav-scope="test">scope1</a>
                <a nav-url="?test2=test2" nav-replace nav-scope="test">scope2</a>
            </li>
        </ul>
    </section>

    <section class="page-block page-block-examples-navigation">
        <h2>Navigation hash</h2>
        <ul>
            <li>
                <a nav-url="#hash1">hash1</a>
                <a nav-url="#hash2">hash2</a>
                <a nav-url="#hash3">hash3</a>
                <a nav-url="#hash4">hash4</a>
                <a nav-url="#hash5">hash5</a>
            </li>
        </ul>
    </section>
</page>