@page
@model ExampleWebSite.Pages.Examples.PageNavigation.IndexModel

<page title="Page handlers">
    <header class="page-header">
        <h1>@Model.Header</h1>
    </header>

    <section class="page-block page-block-examples-navigation">
        <ul>
            <li>
                <a asp-page="/About">Nav with asp-page</a>
            </li>
            <li>
                <a asp-page="/About" target="_blank">Nav in new tab</a>
            </li>
            <li>
                <a asp-page="/About" nav-replace>Nav with asp-page and replace</a>
            </li>
            <li>
                <a asp-page="/About" nav-ignore>Nav with asp-page and ignore</a>
            </li>
            <li>
                <a nav-url="#test">Nav with hash</a>
            </li>
            <li>
                <a nav-url="#test" nav-replace>Nav with hash and replace</a>
            </li>
            <li>
                <a href="#test">Nav with hash (no applink)</a>
            </li>
            <li>
                <a nav-url="/test/test">Page not found</a>
            </li>
            <li>
                <a asp-page="Error">Page exception</a>
            </li>
            <li>
                <a asp-page="Denied">Page access denied</a>
            </li>
            <li>
                <a asp-page="Long">Page long loading</a>
            </li>
            <li>
                <a asp-page="Index" asp-route-test="true">Nav in render</a>
            </li>
            <li>
                <a asp-page="Index" asp-route-error="true">Error in render</a>
            </li>
        </ul>
    </section>
</page>