@model AppPageModel
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta content="en" http-equiv="content-language">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=2" name="viewport">
</head>
<body>
    <link type="text/css" rel="stylesheet" href="~/dist/app.css" asp-append-version="true" async>

    <div class="app">
        <nav class="app-nav" role="navigation">
            <div class="content-width">
                <a asp-area="" asp-page="/Index" class="logo applink">BrandUp.Website</a>
                <div class="city"><a href="" data-command="toggle-city">@Model.WebsiteContext.Website.Title</a></div>
                <ul class="menu">
                    <li><a nav-url="@Url.Page("/About")">About</a></li>
                    <li><a asp-page="/Payment" nav-replace>Payment</a></li>
                    <li><a asp-page="/Delivery">Delivery</a></li>
                    <li><a asp-page="/Contacts" nav-replace>Contacts</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="#" rel="nofollow" data-command="signout">Sign out</a></li>
                    }
                    else
                    {

                        <li><a asp-page="/SignIn">Sign in</a></li>
                    }
                </ul>
            </div>
        </nav>
        <main page-content role="main" class="app-content content-width">
            @RenderBody()
        </main>
    </div>

    <script type="text/javascript" src="~/dist/app.js" asp-append-version="true" async></script>
</body>
</html>