@model AppPageModel
<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
    <link type="text/css" rel="stylesheet" href="~/dist/app.css" asp-append-version="true" async>
</head>
<body>
    <script type="text/javascript" src="~/dist/app.js" asp-append-version="true" async></script>

    <main role="main">
        @RenderBody()
    </main>
</body>
</html>