@model AppPageModel
<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    @Html.AntiForgeryToken()

    <main role="main">
        @RenderBody()
    </main>
</body>
</html>