@model AppPageModel
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
    <meta content="en" http-equiv="content-language">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link type="text/css" rel="stylesheet" href="~/dist/app.css" asp-append-version="true" async>
</head>
<body>
    <script type="text/javascript" src="~/dist/app.js" asp-append-version="true" async></script>

    <div class="app">
        <nav class="app-nav" role="navigation">
            <div class="content-width">
                <a asp-area="" asp-page="/Index" class="logo">BrandUp Website</a>
                <ul class="menu">
                    <li><a asp-page="/Examples/Index">Examples</a></li>
                    <li><a nav-url="@Url.Page("/About")">About</a></li>
                    <li><a asp-page="/Payment" nav-replace>Payment</a></li>
                    <li><a asp-page="/Delivery">Delivery</a></li>
                    <li><a asp-page="/Contacts" nav-replace>Contacts</a></li>
                    
                </ul>
                <ul class="user">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="#" rel="nofollow" data-command="signout" class="button">Sign out</a></li>
                    }
                    else
                    {
                        <li><a asp-page="/SignIn" class="button">Sign in</a></li>
                    }
                </ul>
            </div>
        </nav>

        @RenderBody()
    </div>
</body>
</html>