@page
@model ExampleWebSite.Pages.Examples.IndexModel

<page title="Examples">
    <header class="page-header">
        <h1>@Model.Header</h1>
    </header>

    <section class="page-block page-block-examples">
        <ul>
            <li><a nav-url="@Url.Page("PageNavigation/Index")">Page navigation</a></li>
            <li><a nav-url="@Url.Page("PageHandlers/Index")">Page handlers</a></li>
        </ul>
    </section>
</page>